/*GENERAL STYLES AND FORMATTING*/

body {
    margin: auto; /*makes the whole page move to the corners - no margin*/
    font-family: 'Courier New', Courier, monospace;
}

#header, section, .footer {
    background-color: beige;
    padding: 100px;
}

/*HEADER STYLES*/


/*PARAGRAPH STYLES*/


/*LINK STYLES*/


/*IMAGES AND VIDEO STYLES*/


/*INDIVIDUAL SECTIONS STYLES*/

/*header*/


/*nav*/


/*main*/


/*sections*/


/*footer*/


/*RESPONSIVE STYLING - media queries*/
