/*GENERAL STYLES AND FORMATTING*/

body {
    margin: auto; /*makes the whole page move to the corners - no margin*/
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(180deg, white, beige, white, beige);
}

#header, section{
    /*background-color: #f5f5dc;*/
    padding: 5%;
}

.hr {
    
    height: 5px;
    background: linear-gradient(180deg, gold, beige, gold);
}

/*HEADER STYLES*/

header {
/* background: linear-gradient(180deg, beige, white, beige); */
padding: 2%;

}


/*PARAGRAPH STYLES*/


/*LINK STYLES*/


/*IMAGES AND VIDEO STYLES*/


/*INDIVIDUAL SECTIONS STYLES*/

/*header*/


/*nav*/


/*main*/


/*sections*/

.sectionwrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}


/*footer*/


/*RESPONSIVE STYLING - media queries*/
